<section id="section-08" class="page">

  <div class="page-label">
    <span class="n">08</span> Voice & Messaging
  </div>

  <h2>Voice & Messaging</h2>

  <div class="two-col">

    <div>

      <div class="rule-block">
        <h4>Tone</h4>
        <p>Anti-snob, warm, irreverent.</p>
      </div>

    </div>

    <div>

      <div class="dd">
        <div class="do">
          <div class="do-lbl">Do</div>
          <p>Keep it human.</p>
        </div>

        <div class="dont">
          <div class="dont-lbl">Don't</div>
          <p>Sound corporate.</p>
        </div>
      </div>

    </div>

  </div>

</section>